@import "../../index.scss";

.hero {
  background: $color-cream;

  @media all and (max-width: $breakpoint-tablet-sm) {
    height: calc(
      100vh - 104px - 80px
    ); // 100% - header height - extra space for device url bar
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
    padding-left: 5% !important;

    @media all and (max-width: $breakpoint-tablet-sm) {
      flex-direction: column;
    }
  }

  &__content {
    flex: 1.5;

    h1 {
      text-transform: uppercase;
      padding-bottom: 3rem;

      @media all and (max-width: $breakpoint-tablet-sm) {
        padding-bottom: 2rem;
      }

      span {
        font-size: 2.5rem;
        text-transform: lowercase;
        position: relative;
        top: -30px;

        &::before {
          content: url("../../assets/icon-doodle.png");
          position: absolute;
          transform: scale(0.75);
          transform-origin: left;
          left: -25px;
          top: -5px;
        }
      }
    }

    p {
      max-width: 335px;

      @media all and (max-width: $breakpoint-tablet-sm) {
        padding-bottom: 1rem;
      }
    }
  }

  &__image {
    flex: 0.7;

    @media all and (max-width: $breakpoint-tablet-sm) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__button {
    width: 100%;

    @media all and (max-width: $breakpoint-tablet-sm) {
      padding-bottom: 3rem;
    }
  }
}
