@import "../../index.scss";

.footer {
  background-color: $color-pale-cream;

  &__upper {
    display: flex;
    align-items: center;
    padding-bottom: 5rem;

    h4 {
      cursor: pointer;
      border-right: 1px solid rgba(0, 0, 0, 0.25);
      padding-right: 2rem;
      margin-right: 2rem;
      transition: all 0.1s ease-in-out;

      &:hover {
        opacity: 0.5;
        transition: all 0.1s ease-in-out;
      }
    }

    &__socials {
      &__item {
        cursor: pointer;
        margin-right: 2rem;
        transition: all 0.1s ease-in-out;

        &:hover {
          opacity: 0.5;
          transition: all 0.1s ease-in-out;
        }
      }
    }
  }

  &__lower {
    display: flex;
    gap: 10rem;

    @media all and (max-width: $breakpoint-tablet-sm) {
      gap: 5rem;
    }

    &__col {
      p {
        &:not(:last-child) {
          padding-bottom: 1rem;
        }
      }

      a {
        font-size: 1.25rem;
        color: $color-black;
        transition: all 0.1s ease-in-out;

        @media all and (max-width: $breakpoint-tablet-sm) {
          font-size: 1rem;
        }

        &:hover {
          opacity: 0.5;
          transition: all 0.1s ease-in-out;
        }
      }
    }
  }
}
