@import "../../index.scss";

.map {
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }

  &__content {
    flex: 1.25;

    h2,
    p,
    a {
      max-width: 500px;
      margin: 0 auto;
    }

    h2 {
      padding-bottom: 2rem;
    }

    p {
      @media all and (min-width: $breakpoint-tablet-sm-up) {
        font-size: 1.5rem;
      }

      &:not(:last-child) {
        padding-bottom: 2rem;
      }
    }
  }

  &__image {
    cursor: pointer;
    flex: 0.75;
    text-align: center;

    @media all and (max-width: $breakpoint-tablet) {
      display: none;
    }

    img {
      border-radius: 10px;
    }
  }
}
